<!DOCTYPE html>
<html lang="en">
  <head><title>FlickSearch</title>
    <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap-responsive.min.css">
  <!-- Google Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" type="text/css" href="../../css/styles.css">
  </head>

  <body>
    <header>
      <div id="logo">
        <h3>MovieSearch</h3>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <div class="footer row-fluid">
      <div class="span12">
        <p>Copyright &copy; 2013 FlickSearch</p>
      </div>
    </div>
  </body>
</html>